<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Finnapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finapp">
        <activity
            android:name=".Cliente.eliminarCliente"
            android:exported="true" />
        <activity
            android:name=".Cliente.editarCliente"
            android:exported="true" />
        <activity
            android:name=".Cuentas.CuentasCobrar"
            android:exported="true" />
        <activity
            android:name=".Cuentas.eliminarCuentaCobrar"
            android:exported="true" />
        <activity
            android:name=".Login.Login_registro"
            android:exported="true" />
        <activity
            android:name=".Login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>